{% extends 'base.html.twig' %}

{% block title %}Lista de Animais!{% endblock %}

{% block body %}
    <h1>Listagem de Animais</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-primary pull-right">Cadastrar Animal</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Data Nasc.</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animal %}
            <tr>
                <td>{{ animal.id }}</td>
                <td><a href="{{ path('view_animal', {'id':animal.id}) }}">{{ animal.nameAnimal }}</a></td>
                <td>{{ animal.dateBirthAnimal }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro Encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
