{% extends 'base.html.twig' %}

{% block title %} Register Product - {% endblock %}

{% block body %}
    <h1>Register product</h1>

    <hr>
    {% include "product/_form.html.twig" %}

{% endblock %}
