{% extends 'base.html.twig' %}

{% block title %} Edit Product - {% endblock %}

{% block body %}
    <h1>Edit product - <small> {{ product.name }} </small> </h1>

    <hr>
    {% include "product/_form.html.twig" %}

{% endblock %}
