{% extends 'base.html.twig' %}

{% block title %}Listagem de clients!{% endblock %}

{% block body %}
    <h1>Listagem de Clientes</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-primary pull-right">Cadastrar Cliente</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for clients in clients %}
        <tr>
            <td>{{ clients.id }}</td>
            <td><a href="{{ path('view_client', {'id':clients.id}) }}">{{ clients.nameClient }}</a></td>
            <td>{{ clients.emailClient }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro Encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
