{% extends 'base.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1 class="display-1">Novo modulo PetShop</h1>
        <p class="lead">Avançado symfony com Doctrine</p>
    </div>

{% endblock %}